@import "../scss/_sprite";
@import "../scss/_mixins";
@import "../scss/_fonts";
@import "../scss/_variable";

.container {
  background: #2a2d32;
  padding: 50px 0;

  .our_services{
    h3{
      color: #fff;
      padding-bottom: 30px;
    }

    @include margin;
    .all_services {
      display: flex;

    .schedule_srvices {

      .schedule_pic {
        background: url(../img/Untitled-10.png) no-repeat;
        @include service-pic;
      }
      .schedule_pic:hover::before {
        background: url(../img/1.png) no-repeat;
        background-position: center;
        background-color: rgba(36, 140, 236,.3);
        @include service-pic;
      }

      h4 {
        color: #fff;
      }
    }
    .preventiv_maintence {

      .preventiv_pic {
        background: url(../img/rdJD.png) no-repeat;
        @include service-pic;
      }

      .preventiv_pic:hover::before {
        background: url(../img/1.png) no-repeat;
        background-position: center;
        background-color: rgba(36, 140, 236,.3);
        @include service-pic;
      }

      h4 {
        color: #fff;
      }
    }

    .wheel_srvices {
      .wheel_pic {
        background: url(../img/Rectangle.png) no-repeat;
        @include service-pic;
      }

      .wheel_pic:hover::before {
        background: url(../img/1.png) no-repeat;
        background-position: center;
        background-color: rgba(36, 140, 236,.3);
        @include service-pic;
      }

      h4 {
        color: #fff;
      }
    }
    .repair_services {
      .repair_pic {
        background: url(../img/Selective.png) no-repeat;
        @include service-pic;
      }

      .repair_pic:hover::before {
        background: url(../img/1.png) no-repeat;
        background-position: center;
        background-color: rgba(36, 140, 236,.3);
        @include service-pic;
      }

      h4 {
        color: #fff;
      }
    }
    @include hover-link;
  }
}
}
