@import "../css/sprite";
@import "../scss/_mixins";
@import "../scss/_fonts";

.container {
  background: #2a2d32;
  padding: 50px 0;

  .our_services{
    h3{
      color: #fff;
      padding-bottom: 30px;
    }
    @include margin;
    .all_services {
      display: flex;
    }

    a:hover::before {
      //background: rgba(36, 140, 236,.3);
      background-color:#2c4070;
      opacity:0.2;
    }
    .schedule_srvices {
      .schedule_pic::before{
        background: url(../img/Untitled-10.png) no-repeat;
        @include service-pic;
      }
    }
    .preventiv_maintence {
      .preventiv_pic::before{
        background: url(../img/rdJD.png) no-repeat;
        @include service-pic;
      }
    }

    .wheel_srvices {
      .wheel_pic::before{
        background: url(../img/Rectangle.png) no-repeat;
        @include service-pic;
      }
    }
    .repair_services {
      .repair_pic::before {
        background: url(../img/Selective.png) no-repeat;
        @include service-pic;
      }
    }

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding-top: 30px;
    }
    @include hover-link;
  }
}
