@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Ubuntu-Condensed.woff2) format('woff2');
}

@font-face {
  font-family: 'Ubuntu Medium';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Ubuntu.woff2) format('woff2');
}

@font-face {
  font-family: 'Aileron-Regular';
  src: url(../fonts/Aileron-Regular.otf) format('otf');
}
