
@import "../css/sprite";
@import "../scss/_mixins";
@import "../scss/_fonts";
@import "../scss/_variable";

.foot_link{
  font-family: $font-link;
  background: #2a2d32;
  .link_box{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    @include margin;
    div {
      width: 20%;
      @include foot-link;
      h4 {
        font-family: $font-main;
      }
      .last_link {
        border: none;
      }
    }
  }
}
