@import "../scss/_sprite";
@import "../scss/_mixins";
@import "../scss/_fonts";
@import "../scss/_variable";

.news {
  background: #f7f7f7;
  .all_news{
    display: flex;
    @include margin;
    .latest_news {
      padding: 40px 0 100px 0;
      .head_box {
        display: flex;
        &::before {
          content: url("../img/jan.png");
          margin-right: 20px;
          margin-top: 15px;
        }
        .advanced_machinery {
          display: flex;
          flex-direction: column;
          color: #8a8a8a;
          width: 35%;
          h4 {
            color: #000;
            margin-bottom: 0;
          }
          h4:hover {
            color: #248cec;
          }
          .under_text {
            font-family: 'Aileron-Regular';
            display: flex;
            span {
              display: block;
              margin-right: 5px;
            }
            p {

              color: #0187f4;
              margin: 0 10px 0 0;
            }
          }
          p {
            font-family: 'Aileron-Regular';
          }
        }
      }
      .foot_box {
        display: flex;
        &::before {
          content: url("../img/jan21.png");
          margin-right: 20px;
          margin-top: 15px;
        }
        .powerful {
          display: flex;
          flex-direction: column;
          color: #8a8a8a;
          width: 35%;
          h4 {
            color: #000;
            margin-bottom: 0;
          }
          h4:hover {
            color: #248cec;
          }
          .under_text {
            font-family: $font-link;
            display: flex;
            span {
              display: block;
              margin-right: 5px;
            }
            p {
              color: #0187f4;
              margin: 0 10px 0 0;
            }
          }
        }
        p {
          font-family: $font-link;
        }
      }
    }
    .accordion {
      width: 600px;
      .active {
        h5 {
          display: block;
          border: 1px solid #000;
          margin: 10px 30px;
        }
        h5::before {
          content: url("../img/plus.png");
          border-right: 1px solid;
        }
      }
    }
  }

}
