@import "../scss/_sprite";
@import "../scss/_mixins";
@import "../scss/_fonts";
@import "../scss/_variable";

.news {
  background: #f7f7f7;
  .all_news{
    display: flex;
    padding: 40px 0 100px 0;
    @include margin;
    .latest_news {
      width: 65%;
      .head_box {
        display: flex;
        &::before {
          content: url("../img/jan.png");
          margin-right: 20px;
          margin-top: 15px;
        }
        .advanced_machinery {
          display: flex;
          flex-direction: column;
          color: #8a8a8a;
          width: 47%;
          h4 {
            color: #000;
            margin-bottom: 0;
            &:hover {
              color: #248cec;
            }
          }
          .under_text {
            display: flex;
            font-family: $font-link;
            margin-top: 5px;
            span {
              display: block;
              margin-right: 5px;
            }
            p {

              color: #0187f4;
              margin: 0 10px 0 0;
            }
          }
          p {
            font-family: $font-link;
          }
        }
      }
      .foot_box {
        display: flex;
        &::before {
          content: url("../img/jan21.png");
          margin-right: 20px;
          margin-top: 15px;
        }
        .powerful {
          display: flex;
          flex-direction: column;
          color: #8a8a8a;
          width: 47%;
          h4 {
            color: #000;
            margin-bottom: 0;
            &:hover {
              color: #248cec;
            }
          }
          .under_text {
            display: flex;
            font-family: $font-link;
            margin-top: 5px;
            span {
              display: block;
              margin-right: 5px;
            }
            p {
              color: #0187f4;
              margin: 0 10px 0 0;
            }
          }
        }
        p {
          font-family: $font-link;
        }
      }
    }
    .accordion {
      width: 600px;
      .banner_accord {
        margin-top: 28px;
        .active {
          background: #f4b60d;
          color: #fff;

          &::before {
            content: '';
            background: url("../img/minus.png") no-repeat;
            background-position: center;
            margin-bottom: 0;
            margin-right: 15px;
            padding: 0 15px 0 15px;
          }
        }
        h5 {
          display: flex;
          margin-bottom: 0;
          height: 30px;
          border: 1px solid #ddd;
          color: #2a2d32;
          line-height: 27px;
          &::before {
            content: '';
            background: url("../img/plus.png") no-repeat;
            background-position: center;
            border-right: 2px solid #eee;
            margin-right: 15px;
            padding: 0 15px 0 15px;
          }
        }

        p {
          font-family: $font-link;
          color: #8a8a8a;
          margin-left: 35px;
        }
      }
    }
  }
}
