@import "../css/sprite";
@import "../scss/_mixins";
@import "../scss/_fonts";
@import "../scss/_variable";

.wrapper {
@include margin;
  header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px 0;
    .icon {
      .facebook::after {
        background: url(../img/image1.jpg) 0 0 no-repeat;
        content: "";
        width: 20px;
        height: 20px;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
      }
      .facebook:hover::after {
        background: url(../img/image1.jpg) 0 -25px no-repeat;
      }
      .twitter::after{
        background: url(../img/image1.jpg) -25px 0 no-repeat;
        @include socisl-link;
      }
      .twitter:hover::after {
        background: url(../img/image1.jpg) -25px -25px no-repeat;
      }
      .rss::after{
        background: url(../img/image1.jpg) -50px 0 no-repeat;
        @include socisl-link;
      }
      .rss:hover::after {
        background: url(../img/image1.jpg) -50px -25px no-repeat;
      }
      .linkedin::after{
        background: url(../img/image1.jpg) -75px 0 no-repeat;
        @include socisl-link;
      }
      .linkedin:hover::after {
        background: url(../img/image1.jpg) -75px -25px no-repeat;
      }
      .skype::after{
        background: url(../img/image1.jpg) -100px 0 no-repeat;
        @include socisl-link;
      }
      .skype:hover::after {
        background: url(../img/image1.jpg) -100px -25px no-repeat;
      }
    }
  }

  nav {
    font-family: 'Ubuntu Condensed';
    display: flex;
    justify-content: space-between;
    background: #2a2d32;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      .blue{
        background: #248cec;
      }
      li {
        list-style: none;
        padding: 17px 25px;
        border-right: 1px solid #000;
        a {
          font-size: 15px;
          color: #fff;
          text-decoration: none;
        }
        @include hover-link;
      }
    }

    input {
      background: url("../img/search.png") 95% 50% no-repeat, #35383c;
      outline: none;
      border: 1px solid #272626;
      height: 35px;
      margin: 7px;
      width: 205px;
      padding: 0 0 0 10px;
    }
    input::-webkit-input-placeholder {
      padding-left: 0;
      color: #5d5f61;
    }
  }

  .fotorama {
    margin-top: 30px;
  }

  .text-container{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 60px 0;
    .num {
      p{
        color: #e9e9ea;
        font-size: 90px;
        margin: 0;
      }
    }
    .power {
      width: 23%;
      @include column;
    }
    .techno {
      width: 23%;
      @include column;
    }
    .support {
      width: 23%;
      @include column;
    }
  }
}
