@import "../css/sprite";

@mixin column {
  h3{
    font-size: 20px
  }
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: #248cec;
  }
  a::after {
    background: url('../img/sprites/sprite.png') -10px 0 no-repeat;
    content: "";
    width: 10px;
    height: 11px;
    overflow: hidden;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
  }
  a:hover::after {
    background-position: 0 0;
  }
  img {
    margin-top: 10px;
    display: block;
  }
}

@mixin hover-link {
  a:hover {
    color: #f4b60d;
  }
}

@mixin margin {
  width: 1160px;
  margin: 0 auto;
}

@mixin foot-link {
  h4 {
    color: #fff;
    margin: 0;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid #5d5f61;
      a {
        display: block;
        text-decoration: none;
        color: #5d5f61;
        padding: 10px 0;
      }
      a:hover {
        color: #248cec;
      }
    }
  }
}

.wrapper {
@include margin;
  header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px 0;
  }
  .icon {
    a {
      margin-right: 10px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    background: #2a2d32;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      .blue{
        background: #248cec;
      }
      li {
        list-style: none;
        padding: 17px 25px;
        border-right: 1px solid #000;
        a {
          font-size: 15px;
          color: #fff;
          text-decoration: none;
        }
        @include hover-link;
      }
    }

    input {
      background: url("../img/search.png") 95% 50% no-repeat, #35383c;
      outline: none;
      border: 1px solid #000;
      height: 25px;
      margin: 10px;
      padding: 0 0 0 10px;
    }
    input::-webkit-input-placeholder {
      padding-left: 0;
      color: #5d5f61;
    }
  }

  .fotorama {
    margin-top: 30px;
  }

  .text-container{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 60px 0;
    .num {
      p{
        color: #e9e9ea;
        font-size: 90px;
        margin: 0;
      }
    }
    .power {
      width: 23%;
      @include column;
    }
    .techno {
      width: 23%;
      @include column;
    }
    .support {
      width: 23%;
      @include column;
    }
  }
}

.container {
  background: #2a2d32;
  padding: 50px 0;
  h3{
    color: #fff;
    padding-bottom: 30px;
  }

  .our_services{
    @include margin;
    .all_services {
      display: flex;
    }

    img{
      padding-right: 50px;
    }
    /*img:hover {
      background: rgba(0, 170, 238, 0.9);
    }*/
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding-top: 30px;
    }
    @include hover-link;
  }
}

.news {
  background: #f7f7f7;
  .all_news{
    display: flex;
    @include margin;
    .latest_news {
      padding: 40px 0 100px 0;
      .head_box {
        display: flex;
        &::before {
          content: url("../img/jan.png");
          margin-right: 20px;
          margin-top: 15px;
        }
        .advanced_machinery {
          display: flex;
          flex-direction: column;
          color: #8a8a8a;
          width: 35%;
          h4 {
            color: #000;
            margin-bottom: 0;
          }
          h4:hover {
            color: #248cec;
          }
          .under_text {
            display: flex;
            span {
              display: block;
              margin-right: 5px;
            }
            p {
              color: #0187f4;
              margin: 0 10px 0 0;
            }
          }
        }
      }
      .foot_box {
        display: flex;
        &::before {
          content: url("../img/jan21.png");
          margin-right: 20px;
          margin-top: 15px;
        }
        .powerful {
          display: flex;
          flex-direction: column;
          color: #8a8a8a;
          width: 35%;
          h4 {
            color: #000;
            margin-bottom: 0;
          }
          h4:hover {
            color: #248cec;
          }
          .under_text {
            display: flex;
            span {
              display: block;
              margin-right: 5px;
            }
            p {
              color: #0187f4;
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
    .accordion {
      width: 40%;
      .transition, p, ul li i:before, ul li i:after {
        transition: all 0.25s ease-in-out;
      }

      h5 {
        color: #ff6873;
      }

      p {
        color: rgba(48, 69, 92, 0.8);
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 1px;
        position: relative;
        overflow: hidden;
        max-height: 800px;
        opacity: 1;
        transform: translate(0, 0);
        margin-top: 14px;
        z-index: 2;
      }

      ul {
        list-style: none;
        perspective: 900;
        padding: 0;
        margin: 0;
      }

      ul li {
        position: relative;
        padding: 0;
        margin: 0;
        padding-bottom: 4px;
        padding-top: 18px;
        border-top: 1px dotted #dce7eb;
      }

      ul li input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }

      ul li input[type=checkbox]:checked ~ p {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%);
      }
    }
    }

}

.brend-icons {
  @include margin;
}

.foot_link{
  background: #2a2d32;
  .link_box{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    @include margin;
    div {
      width: 20%;
      @include foot-link;
      .last_link {
        border: none;
      }
    }
  }
}

footer {
  background: #3c3e40;
  color: #5d5f61;
  .footer_container{
    @include margin;
    display: flex;
    justify-content: space-between;
    .contact_inform {
      display: flex;
      p {
        display: block;
        margin-right: 20px;
      }
      .locate:before {
        content: url("../img/location.png");
        margin-right: 10px;
      }
      .phone:before {
        content: url("../img/iphone.png");
        margin-right: 10px;
      }
      .mail:before {
        content: url("../img/email.png");
        margin-right: 10px;
      }
    }
  }
}
