@mixin column {
  h3{
    font-size: 20px
  }
  a {
    text-decoration: none;
    color: #000;
  }
  a::after {
    content: url("../img/shape_blue.png");
    margin-left: 10px;
  }
}

@mixin hover-link {
  a:hover {
    color: #f4b60d;
  }
}

@mixin margin {
  width: 1160px;
  margin: 0 auto;
}

@mixin foot-link {
  h4 {
    color: #fff;
    margin: 0;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      border-bottom: 1px solid #5d5f61;
      a {
        display: block;
        text-decoration: none;
        color: #5d5f61;
        padding: 10px 0;
      }
      a:hover {
        color: #248cec;
      }
    }
  }
}

.wrapper {
@include margin;
  header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px 0;
  }
  .icon {
    a {
      margin-right: 10px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    background: #2a2d32;
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      .blue{
        background: #248cec;
      }
      li {
        list-style: none;
        padding: 17px 25px;
        border-right: 1px solid #000;
        a {
          font-size: 15px;
          color: #fff;
          text-decoration: none;
        }
        @include hover-link;
      }
    }
    input {
      background: url("../img/search.png") 95% 50% no-repeat, #35383c;
      outline: none;
      border: 1px solid #000;
      height: 25px;
      margin: 10px;
      padding: 0 0 0 10px;
    }
    input::-webkit-input-placeholder {
      padding-left: 0;
      color: #5d5f61;
    }
  }

  .fotorama {
    margin-top: 30px;
  }

  .text-container{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 60px 0;
    .power {
      width: 23%;
      @include column;
    }
    .techno {
      width: 23%;
      @include column;
    }
    .support {
      width: 23%;
      @include column;
    }
  }
}

.container {
  background: #2a2d32;
  padding: 50px 0;
  h3{
    color: #fff;
    padding-bottom: 30px;
  }
  .our_services{
    @include margin;
    .all_services {
      display: flex;
    }
    img{
      padding-right: 50px;
    }
    img:hover {
      //background: rgba($red, $red, $red, $alpha);
    }
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding-top: 30px;
    }
    @include hover-link;
  }
}

.brend-icons {
  @include margin;
}

.foot_link{
  background: #2a2d32;
  .link_box{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    @include margin;
    div {
      width: 20%;
      @include foot-link;
      .last_link {
        border: none;
      }
    }
  }
}

footer {
  background: #3c3e40;
  color: #5d5f61;
  .footer_container{
    @include margin;
    display: flex;
    justify-content: space-between;
    .contact_inform {
      display: flex;
      p {
        display: block;
        margin-right: 20px;
      }
      .locate:before {
        content: url("../img/location.png");
        margin-right: 10px;
      }
      .phone:before {
        content: url("../img/iphone.png");
        margin-right: 10px;
      }
      .mail:before {
        content: url("../img/email.png");
        margin-right: 10px;
      }
    }
  }
}
