.wrapper {
  width: 1160px;
  margin: 0 auto; }
  .wrapper header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 0 20px 0; }
  .wrapper .icon a {
    margin-right: 10px; }
  .wrapper nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #2a2d32; }
    .wrapper nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 0; }
      .wrapper nav ul li {
        list-style: none; }
        .wrapper nav ul li .blue {
          background: #248cec; }
        .wrapper nav ul li a {
          font-size: 15px;
          color: #fff;
          text-decoration: none;
          padding: 17px 25px;
          border-right: 1px solid #000; }
        .wrapper nav ul li a:hover {
          color: #f4b60d; }
    .wrapper nav input {
      background: url("../img/search.png") 95% 50% no-repeat, #35383c;
      outline: none;
      border: 1px solid #000;
      height: 25px;
      margin: 10px;
      padding: 0 0 0 10px; }
    .wrapper nav input::-webkit-input-placeholder {
      padding-left: 0;
      color: #5d5f61; }
  .wrapper .fotorama {
    margin-top: 30px; }
  .wrapper .text-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 13px; }
    .wrapper .text-container .power {
      width: 23%; }
      .wrapper .text-container .power h3 {
        font-size: 20px; }
      .wrapper .text-container .power a {
        text-decoration: none;
        color: #000; }
      .wrapper .text-container .power a::after {
        content: url("../img/shape_blue.png");
        margin-left: 10px; }
    .wrapper .text-container .techno {
      width: 23%; }
      .wrapper .text-container .techno h3 {
        font-size: 20px; }
      .wrapper .text-container .techno a {
        text-decoration: none;
        color: #000; }
      .wrapper .text-container .techno a::after {
        content: url("../img/shape_blue.png");
        margin-left: 10px; }
    .wrapper .text-container .support {
      width: 23%; }
      .wrapper .text-container .support h3 {
        font-size: 20px; }
      .wrapper .text-container .support a {
        text-decoration: none;
        color: #000; }
      .wrapper .text-container .support a::after {
        content: url("../img/shape_blue.png");
        margin-left: 10px; }
